<launch>

  <node pkg="robot_calibration" type="calibrate" name="calibrate"
        args="--from-bag /tmp/movo_calibration/calibration_data.bag"
        output="screen" required="true">
    <rosparam file="$(find movo_calibration)/config/calibrate_checkerboards.yaml" command="load" />
  </node>

</launch>
